<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Lists</title>
    <style>
        *{
            text-align: center;
            align-items: center;
            background-color: rgb(145, 202, 248);
            font-family: 'arial';
        } 

        h1 {
            color: rgb(77, 77, 77);
        }

        .notes-info {
            margin: 0;
            padding: 24;
            box-sizing: initial;
            background-color: white;
            display: inline-block;
            border-radius: 10px;
            overflow: auto;
            width: 55%;
            margin-bottom: 10px;
        }
        
        .notes-info > h2, h3, h4 {
            font-weight: lighter;
            background-color: white;
        }
        
        .notes-info > p {
            background-color: white;
            margin-top: 10px;
            overflow: auto;
            text-overflow: ellipsis;
        }
    
    </style>
  </head>
  <body>
    <nav>
        <a href="/lab-4">HOME</a>
        <a href="/lab-4/add-note">FORM</a>
        <a href="/lab-4/note-list">LIST</a>
    </nav>
    <h1>Notes List</h1>
      {% if notes %} 
        {% for note in notes %}
        <div class="notes-info">
            <h2>{{ note.title }}</h2>
            <h3>From: {{ note.from_note }}</h3>
            <h3>To: {{ note.to }}</h3>
            <h4>Message:</h4>
            <p>{{ note.message}}</p>
        </div>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
