<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
                font-family: 'arial';font-size: 15px;
                text-align:center;
                background-color: rgb(145, 202, 248);
                padding-left: 2px;
                padding-right: 2px;
                position:relative; 
        }   
        .head {
                color:#ffffff;
                text-align: center;
                overflow: hidden;
        }
    </style>        
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <nav>
        <a href="/lab-4">HOME</a>
        <a href="/lab-4/add-note">FORM</a>
        <a href="/lab-4/note-list">LIST</a>
    </nav>
    <table>
      <tr>
        <th>to </th>
        <th>from </th>
        <th>title </th>
        <th>message </th>
      </tr>
      {% if notes %}
        {% for note in notes %}
          <tr>
            <td>{{note.to}}</td>
            <td>{{note.from_note}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
