<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <style>
            body {
                    font-family: 'arial';
                    font-size: 15px;
                    text-align:center;
                    background-color: rgb(145, 202, 248);
                    padding-left: 2px;
                    padding-right: 2px;
                    position:relative;
            }
            
            .head {
                    color:#ffffff;
                    overflow: hidden;
                    text-align: center;
            }
        </style>    
        <title>Note Form</title>
    </head>
    <body>
        <nav>
            <a href="/lab-4">HOME</a>
            <a href="/lab-4/add-note">FORM</a>
            <a href="/lab-4/note-list">LIST</a>
        </nav>
        <h1>NOTE FORM</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="submit" type="submit" value="SUBMIT">
        </form>
    </body>
</html>
