<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
        <style>
            table, td, th {
              border: 1px solid black;
            }
            
            table {
              border-collapse: collapse;
              width: 1000px;
            }
            
            td {
              text-align: center;
            }
            </style>
      </head>
      <body>
        <h1>Notes</h1>
        <table id = "message">
          <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
          {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.from_note }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.message }}</td>
          </tr>
          {% endfor %}
        </table>
      </body>
</html>
    
